/*body {*/
    /*background: url('/image/page.jpg')no-repeat;*/
    /*background-size: cover;*/
    /*height: 100%;*/
    /*font-family: 'Quicksand', sans-serif;*/
/*}*/

#jumb{
    background-image: url('/image/page3.jpg');
    background-size: cover;
    margin-top: -230px;
    height: 700px;
    padding-top: 180px;
    color: white;
    opacity: 0.9;
}

#text{
margin-top: 300px;
}