html, body {
    width: 100%;
    height: 100%;
    background-color: #f9f5f5;
}
#list {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    color: #777;
    background-color: #f9f5f5;

}

#jumb {
    background-color: #4686a0;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed, fixed, fixed;
    background-image: linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
    background-position: top left, center center, center center;
    background-size: auto, cover, cover;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    height: 600px;
}

#text {
    margin-top: 150px;
    text-shadow: 2px 2px 4px #000000
}

.slide {
    animation-duration: 3s;
    animation-name: sliden;
    text-align: center;
    font-size: 100px;

}

@keyframes sliden {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        /*margin-top: 0%;*/
        width: 100%;
    }
}

#about {
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 20px #666;
    -moz-box-shadow: 5px 5px 20px #666;
    box-shadow: 5px 5px 20px #666;
    color: #777;
    text-align: center;
    height: 355px;
}

#skills {
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 10px #666;
    -moz-box-shadow: 5px 5px 10px #666;
    box-shadow: 5px 5px 20px #666;
    color: #777;
    text-align: center;
    height: 355px;
}

.logo {
    width: 16%;
}

#portfolio, #port_title {
    margin-top: 30px;
    text-align: center;
    color: #777;
    margin-bottom: 30px;
}

.work {
    background: white;
    height: 345px;
    width: 50%;
    float: left;
    margin-left: -35px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 20px #666;
    -moz-box-shadow: 5px 5px 20px #666;
    box-shadow: 5px 5px 20px #666;
    color: #777;
    text-align: center;
}

#box {
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 20px #666;
    -moz-box-shadow: 5px 5px 20px #666;
    box-shadow: 5px 5px 20px #666;
    color: #777;
    height: 300px;
}

.link_logo {
    width: 0px;
    color: #777;
    margin: 13px;
}

#footer {
    color: #777;
    font-size: 18px;
    width: 100%;
    height: 10px;
    margin-top: 30px;
}

#form_size {
    margin: 10px;
}

.messages {
    font-size: 60%;
    width: 50%;
}

.text_show {
    font-size: 45px;
    text-align: center;
}
@media screen and (min-width: 990px) {
    #descript {
    position:fixed;
    width: 555px;
    }
}

@media screen and (min-width: 320px) {
    .slide {
        animation-duration: 3s;
        animation-name: sliden;
        text-align: center;
        font-size: 45px;
    }

}

@media screen and (max-width: 420px) {
    p {
        font-size: 15px;
    }
}