#list {
    background-color: #f9f5f5;
    background-size: cover;
    height: 100%;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}

#jumb {
    background-image: url('../image/page3.jpg');
    background-size: cover;
    margin-top: -230px;
    height: 700px;
    padding-top: 180px;
    color: white;
    opacity: 0.9;
}

#text {
    margin-top: 300px;
    text-shadow: 2px 2px 4px #000000
}

.slide {
    animation-duration: 3s;
    animation-name: sliden;
    text-align: center;
    font-size: 100px;

}

@keyframes sliden {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        /*margin-top: 0%;*/
        width: 100%;
    }
}

#about {
    background: white;
    height: 345px;
    width: 50%;
    float: left;
    margin-left: -35px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 20px #666;
    -moz-box-shadow: 5px 5px 20px #666;
    box-shadow: 5px 5px 20px #666;
    color: #777;
    text-align: center;
}

#skills {
    background: white;
    height: 345px;
    width: 50%;
    float: right;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px #666;
    -moz-box-shadow: 5px 5px 10px #666;
    box-shadow: 5px 5px 10px #666;
    color: #777;
    text-align: center;
}
.logo {
    width: 16%;
}


